<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.obligato.mvc.mapper.PostMapper">

    <select id="findAll" resultType="post">
        SELECT
            *
        FROM post
        ORDER BY post_id DESC
    </select>

    <insert id="save">
        INSERT INTO post
        (username, title, content)
        VALUES
        (#{userName}, #{title}, #{content})
    </insert>

    <select id="findOne" resultType="post">
        SELECT
            *
        FROM post
        WHERE post_id = #{postId}
    </select>



</mapper>